<!doctype html>
<html>
<head>
  <title>Subir Archivo PDF</title>
</head>
<body>
  <h1>Subir Archivo PDF</h1>  <a href="{{ url_for('nuevo_recordatorio') }}">Programar Recordatorio</a>
    <a href="{{ url_for('mostrar_recordatorios') }}">Ver Recordatorios</a>

  <form method="POST" action="/subir" enctype="multipart/form-data">
    <input type="file" name="archivo" accept=".pdf">
    <select name="seccion">
      
      <option value="seccion1">Sección 1</option>
      <option value="seccion2">Sección 2</option>
      <option value="seccion3">Sección 3</option>
      <option value="seccion4">Sección 4</option>
      <option value="seccion5">Sección 5</option>
      <option value="seccion6">Sección 6</option>
     <option value="seccion7">Sección 7</option>
     <option value="seccion8">Sección 8</option>
     <option value="seccion9">Sección 9</option>
     <option value="seccion10">Sección 10</option>
     <option value="seccion11">Sección 11</option>
     <option value="seccion12">Sección 12</option>
      
      <!-- Agrega más opciones de sección según tus necesidades -->
    </select>
    <input type="submit" value="Subir">
  </form>
  <ul>

    <h1>CRE</h1>
    <li><a href="/ver/seccion1">Ver archivos en Sección 1</a></li>
    
    <hr style= "color:#000000; background-color: #0f0f0f; height: 5px;">
    <li><a href="/ver/seccion2">Ver archivos en Sección 2</a></li>
    <!-- Agrega más enlaces según tus necesidades -->
  </ul>

  <script src="https://cdn.rawgit.com/Yaffle/EventSource/2.0.1/eventsource.js"></script> <!-- Agrega el script de EventSource -->

<script>
  const eventSource = new EventSource('/stream');  // Conéctate al servidor SSE

  eventSource.onmessage = function (event) {
    const notification = JSON.parse(event.data);
    // Maneja la notificación, por ejemplo, muestra un mensaje en la interfaz
    console.log(notification.message);
  };
</script>

</body>
</html>
